<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <meta charset="utf-8">
    <title>huoyan</title>
    <link rel="stylesheet" href={% static "CSS/semantic.css" %} media="screen" title="no title" charset = "utf-8">
      <link rel="stylesheet" href={% static "huoyan_homepage.css" %} media="screen" title="no title" charset = "utf-8">
</head>

<body>
<!-- navigation bar -->
    <div class="ui red padded inverted vertical segment" style="height:80px">
        <div class="ui padded text menu" style="margin-top:0px;height:40px">
<!-- LOGO -->
            <div class="ui image" style="margin-top:-7px;margin-left:20px">
                <a href="http://127.0.0.1:8000/list/">
                    <img src={% static "huoyanlogo.png"%} alt="" >
                </a>
            </div>
<!-- search area -->
            <div class="ui icon input" style="width:40%;margin-left:20px">
                <input type="text" placeholder="搜索骗局">
                <i class="inverted circular search link icon"></i>
            </div>
<!-- User information -->
            <div class="ui red inverted right float menu" >
                {% if request.user.is_authenticated %}
                    <div class="item">
                        <h5 class="ui inverted header">
                            <span style="margin-right:20px">{{ request.user.username }}</span>
                            <div class="ui mini circular image">
                                {% if request.user.profile.profile_image %}
                                    <a href="http://127.0.0.1:8000/personal_page/ ">
                                    <img src="/upload/{{ request.user.profile.profile_image }}" alt="">
                                    </a>
                                {% else %}
                                    <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg" alt="">
                                {% endif %}
                            </div>
                            <a href="/register">
                                <span style="margin-right:20px;margin-left:20px">登出</span>
                            </a>

                        </h5>

                    </div>

                {% else %}
                     <div class="item" class = "ui rounded item">
                     <a href="http://127.0.0.1:8000/login/">
                        <h5 class="ui inverted header">
                            <span style="margin-right:20px;color:white">登录/注册</span>

                        </h5>
                     </a>

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

<div class="ui personalpage container">
    <form class="ui form"  action="{% url 'renew' %}" method="post" enctype="multipart/form-data">
          <div class="field">
                <label><h1>Your ID</h1></label>
                <input type="text" name="username" placeholder="{{request.user}}">
          </div>

         <div class="field">
                <label><h1>Your password</h1></label>
                <input type="text" name="password" placeholder="------">
          </div>

          <div class="ui img">
          <a  class="ui medium image">
               <img src="/upload/{{ request.user.profile.profile_image }}" alt="">
          </a>

          <fieldset>

                <legend>上传文件</legend>

                <input id='id_profile_image' type="file" name="image" />

          </fieldset>
          </div>
          {% csrf_token %}

          <button class="ui button" type="submit">Submit</button>
    </form>

</div>

<h1>{{ image }}</h1>


</body>

</html>